<div class="input-group">
	<input type="text" class="form-control" name="articulo">
	<span class="input-group-btn">
		<button class="btn btn-default search-articulos" type="button">Buscar</button>
	</span>
</div>