<table class="table table-bordered">
	<thead>
		<tr>
			<th>Código</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Stock</th>
			<th>Alarma Minimo</th>
			<th>Alarma Maxima</th>
			<th>Precio de Venta</th>
		</tr>
	</thead>
	<tbody>
		{{#each items}}
		<tr>
			<td>{{codigo}}</td>
			<td>{{nombre}}</td>
			<td>{{descripcion}}</td>
			<td>{{stock}}</td>
			<td>{{alarma_minima}}</td>
			<td>{{alarma_maxima}}</td>
			<td>{{precio_venta}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>