#main-content,
#page-content,
#main-content .slogan
{
	padding: 60px 0px 50px 0px;
}

.noty-icon {
	margin-top: 15px;
	margin-right: 10px;
}

.link {
	cursor: pointer;
}

.pagination {
	float: left;
}

form.pagination {
	margin: 20px;
}

.pagination input[name=page] {
	width: 50px;
	text-align: center;
}

.pagination .form-group {
	margin-left: 10px;
}

input.marginated {
	margin-bottom: 10px!important;
}