aleph-compras-nueva-oc {
	display: block;
}

.tab-pane {
	padding-top: 15px;
}

.division {
	margin: 20px 0px;
	height: 10px;
	border-bottom: 1px solid #ddd;
}

.filters .form-inline .form-control {
	width: 100%;
}

.total {
	font-size: 1.3em;
}

.detail {
	display: block;
	font-size: 1em;
	margin-bottom: 10px;
}

.order button {
	margin: 20px 0;
}

button.padded-right {
	margin-right: 10px;
}