<div class="wizard" id="wizardFacturarVenta" data-title="Facturar Venta">
	
	<div class="wizard-card" data-cardname="clientCard">
	</div>

	<div class="wizard-card" data-cardname="paymentMethodCard">
	</div>

	<div class="wizard-card" data-cardname="verifyCard">
		<h3>Verificar</h3>
		<div class="row">
			<div class="col-md-6">
				<table class="table">
					<thead>
						<tr>
							<th colspan="2" class="text-center">
								Cliente
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>
								Denominacíon
							</th>
							<td>
								{{client.denomination}}
							</td>
						</tr>
						<tr>
							<th>
								DNI/CUIL
							</th>
							<td>
								{{client.dni_cuil}}
							</td>
						</tr>
						<tr>
							<th>
								Teléfono
							</th>
							<td>
								{{#client.phone}} {{.}} {{/client.phone}} {{^client.phone}} --- {{/client.phone}}
							</td>
						</tr>
						<tr>
							<th>
								Dirección
							</th>
							<td>
								{{#client.address}} {{.}} {{/client.address}} {{^client.address}} --- {{/client.address}}
							</td>
						</tr>
						<tr>
							<th>
								E-Mail
							</th>
							<td>
								{{#client.email}} {{.}} {{/client.email}} {{^client.email}} --- {{/client.email}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<table class="table">
					<thead>
						<tr>
							<th colspan="2" class="text-center">
								Forma de Pago
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>
								Tipo de Pago
							</th>
							<td>
								{{paymentMethod.method.label}}
							</td>
						</tr>
						{{#paymentMethod.bank}}
						<tr>
							<th>
								Banco
							</th>
							<td>
								{{.}}
							</td>
						</tr>
						{{/paymentMethod.bank}}
						{{#paymentMethod.instalmentsNumber}}
						<tr>
							<th>
								Cuotas
							</th>
							<td>
								{{.}}
							</td>
						</tr>
						{{/paymentMethod.instalmentsNumber}}
						{{#paymentMethod.interest}}
						<tr>
							<th>
								Intereses
							</th>
							<td>
								{{.}}
							</td>
						</tr>
						{{/paymentMethod.interest}}
						{{#paymentMethod.disccount}}
						<tr>
							<th>
								Descuento
							</th>
							<td>
								{{.}}
							</td>
						</tr>
						{{/paymentMethod.disccount}}
					</tbody>
				</table>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Marca</th>
					<th>Modelo</th>
					<th>Cantidad</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody>
				{{#shopCart}}
				<tr>
					<td>{{itemPos}}</td>
					<td>{{brand}}</td>
					<td>{{model}}</td>
					<td>{{quantity}}</td>
					<td>${{marketPrice}}</td>
				</tr>
				{{/shopCart}}
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4">Total de la venta</th>
					<th colspan="2">${{amount}}</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>