<div class="page-header">
  <h1>Gestión de Compras</h1>
</div>
<div class="row">
	<div class="col-md-4 col-sm-6">
		<div class="thumbnail">
			<a href="#purchaseOrders">
				<img src="images/purchases/ordenes.png">
			</a>
			<div class="caption">
				<h3>Ordenes de Compra</h3>
				<p>Gestione las ordenes de compra.</p>
				<p class="clearfix">
					<a href="#purchaseOrders" class="btn btn-primary pull-right" role="button">
						Ir
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="thumbnail">
			<a href="#suppliers">
				<img src="images/purchases/proveedor.png">
			</a>
			<div class="caption">
				<h3>Proveedores</h3>
				<p>Gestione los proveedores.</p>
				<p class="clearfix">
					<a href="#suppliers" class="btn btn-primary pull-right" role="button">
						Ir
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="thumbnail">
			<a href="#tags">
				<img src="images/purchases/etiqueta.png">
			</a>
			<div class="caption">
				<h3>Etiquetas</h3>
				<p>Gestione las etiquetas.</p>
				<p class="clearfix">
					<a href="#tags" class="btn btn-primary pull-right" role="button">
						Ir
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="thumbnail">
			<a href="#reports">
				<img src="images/lista.png">
			</a>
			<div class="caption">
				<h3>Reportes</h3>
				<p>Gestione los reportes.</p>
				<p class="clearfix">
					<a href="#reports" class="btn btn-primary pull-right" role="button">
						Ir
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="thumbnail">
			<a href="#administrar">
				<img src="images/configuracion.png">
			</a>
			<div class="caption">
				<h3>Perfil</h3>
				<p>Administre su perfil.</p>
				<p class="clearfix">
					<a class="btn btn-primary pull-right show-my-profile" role="button">
						Ir
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="thumbnail">
			<a href="#salir">
				<img src="images/salir.png">
			</a>
			<div class="caption">
				<h3>Salir</h3>
				<p>Abandone la aplicación.</p>
				<p class="clearfix">
					<a class="btn btn-danger pull-right log-me-out" role="button">
						Salir
					</a>
				</p>
			</div>
		</div>
	</div>
</div>