<div class="container clearfix" id="main-content">
	<div class="row">
		<div class="col-md-7">
			<div class="media center-block">
				<a class="pull-left" href="#">
					<img class="media-object img-circle" src="images/logo.png" >
				</a>
				<div class="media-body slogan">
					<blockquote class="blockquote-reverse">
						<h1>Aleph</h1>
						<p>Sólo es cuestión de desear verlo.</p>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<form class="form-signin" role="form" onsubmit="return false;">
				<h2 class="form-signin-heading">
					{{title}}
				</h2>
				<input name="username" type="text" class="form-control" placeholder="Usuario" required="" autofocus="">
				<input name="password" type="password" class="form-control" placeholder="Contraseña" required="">
				<button class="btn btn-lg btn-primary btn-block signin" type="submit">
					Ingresar
				</button>
			</form>
		</div>
	</div>
</div>