aleph-home {
	display: block;
}

.brand-logo {
    font-size: 1.25em;
}

.brand-logo img {
    height: 30px;
    width: 32px;
    margin-top: -5px;
}

.division {
	margin: 20px 0px;
	height: 10px;
	border-bottom: 1px solid #ddd;
}

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background:#fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #f4f3ef;
}

#sidebar-wrapper {
	box-shadow: inset -1px 0px 0px 0px #DDDDDD;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 10px;
	line-height: 40px;
}

.tree {
    display: none;
}

button.cancel {
	margin-right: 10px;
}

.tree li {
    text-indent: 20px;
    line-height: 20px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
}

.sidebar-nav li a:hover {
	text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	font-size: 18px;
	line-height: 51px;
	height: 55px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	background: none;
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 250px;

	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: 250px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		position: relative;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}

#sidebar-wrapper li.active {
    background-color: #DDDDDD;
}

#sidebar-wrapper li.active > a:after {
	border-right: 17px solid #f4f3ef;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	content: "";
	display: inline-block;
	position: absolute;
	right: -1px;
}

.sidebar-brand {
	border-bottom: 1px solid rgba(102, 97, 91, 0.3);
}

li.sidebar-brand {
	margin: 0 20px;
    text-align: center;
    text-indent: 0px;
}

label.tree-toggler {
    width: 100%;
    cursor: pointer;
}

.navbar {
	border-radius: 0px;
}

.navbar .navbar-nav > li > a p {
	display: inline-block;
	margin: 0;
}
p {
	font-size: 16px;
	line-height: 1.4em;
}

.navbar-default {
	background-color: #f4f3ef;
	border:0px;
	border-bottom: 1px solid #DDDDDD;
	height: 55px;
}

.btn-menu {
	border-radius: 3px;
	padding: 4px 12px;
	margin: 10px 5px 5px 5px;
	font-size: 14px;
	float: left;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 90%;
    margin: 10px auto;
}

.thumbnail h4 {
    text-align: center;
}

.thumbnail-list {
    padding: 30px 0px;
}

main {
	padding: 0px 10px 70px;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 80%;
  }
}

table a {
	text-decoration: none !important;
	padding-left: 5px;
	padding-right: 5px; 
}


.label-tag {
	padding: 0.5em;
	display: inline-block;
}

.label-tag:not(:last-child) {
	margin-right: 10px; 
}

.submenu{
	border-color: #ecf0f1 !important;
	
}
.submenu-heading{
	background-color: #32bea6!important;
	border-color: #e0e0e0 !important;
}

.registro{
	background-color: #2c3e50!important;
}

.reporte{
	background-color: #95a5a6!important;
}