<h3>Resultado de la Busqueda</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				Marca
			</th>
			<th>
				Tipo
			</th>
			<th>
				Modelo
			</th>
			<th>
				Código
			</th>
			<th>
				Descripción
			</th>
			<th>
				Stock
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class="success">
			<td>Samsung</td>
			<td>TV LED</td>
			<td>EH6030</td>
			<td>TVLSAMEH6030</td>
			<td>TV LED ideal para ver el mundial...</td>
			<td><span class="text-danger">1</span></td>
		</tr>
		<tr>
			<td>Samsung</td>
			<td>TV LED</td>
			<td>EH6020</td>
			<td>TVLSAMEH6020</td>
			<td>TV LED ideal para ver el mundial...</td>
			<td><span class="text-warning">3</span></td>
		</tr>
		<tr>
			<td>Samsung</td>
			<td>TV LED</td>
			<td>EH6010</td>
			<td>TVLSAMEH6010</td>
			<td>TV LED ideal para ver el mundial...</td>
			<td><span class="text-danger">1</span></td>
		</tr>
		<tr>
			<td>Samsung</td>
			<td>TV LED</td>
			<td>EH5030</td>
			<td>TVLSAMEH5030</td>
			<td>TV LED ideal para ver el mundial...</td>
			<td>6</span></td>
		</tr>
		<tr>
			<td>Samsung</td>
			<td>TV LED</td>
			<td>EH5020</td>
			<td>TVLSAMEH5020</td>
			<td>TV LED ideal para ver el mundial...</td>
			<td><span class="text-warning">3</span></td>
		</tr>
		<tr>
			<td>Samsung</td>
			<td>Home Theater</td>
			<td>HT5020</td>
			<td>HTLSAMEH5020</td>
			<td>Sistema de Audio ideal para disfrutar...</td>
			<td><span class="text-warning">4</span></td>
		</tr>
		<tr>
			<td>Samsung</td>
			<td>Home Theater</td>
			<td>HT6020</td>
			<td>HTLSAMEH6020</td>
			<td>Sistema de Audio ideal para disfrutar...</td>
			<td><span class="text-danger">1</span></td>
		</tr>
		<tr>
			<td>Samsung</td>
			<td>Home Theater</td>
			<td>HT7020</td>
			<td>HTLSAMEH7020</td>
			<td>Sistema de Audio ideal para disfrutar...</td>
			<td>5</td>
		</tr>
	</tbody>
</table>
<div class="center-block">
	<ul class="pagination">
		<li><a href="#">&laquo;</a></li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</div>