<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Buscar producto
			<a href="#"><span class="fa fa-minus pull-right"></a></span>
		</h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" id="searchItems">
			<div class="form-group">
				<label for="nombre" class="col-sm-2 control-label">
					Nombre
				</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name" attr-query="contains">
				</div>
			</div>
			<div class="form-group">
				<label for="codigo" class="col-sm-2 control-label">
					Código
				</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="code" attr-query="contains">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-primary pull-right search-records" data-loading-text="Buscando...">
						<span class="fa fa-search"></span>
						Buscar
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<h3>Resultado de la Busqueda</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th attr-name="name">
				Nombre
				<i class="pull-right sort-table fa fa-sort-alpha-asc"></i>
			</th>
			<th>
				Código
			</th>
			<th attr-name="stock">
				Stock
				<i class="pull-right sort-table fa fa-sort-amount-asc"></i>
			</th>
			<th attr-name="marketPrice">
				Precio
				<i class="pull-right sort-table fa fa-sort-numeric-asc"></i>
			</th>
		</tr>
	</thead>
	<tbody>
		{{#each records}}
		<tr>
			<td>{{name}}</td>
			<td>{{code}}</td>
			<td>{{stock}}</td>
			<td>{{marketPrice}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<div class="center-block">
	<ul class="pagination">
		<li><a href="#">&laquo;</a></li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</div>